/* MODAL CSS */

.modal-backdrop {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* backdrop-filter: blur(2px); */
    z-index: 2;
    max-width: calc(100vw);
    max-height: calc(100vh);
    overflow-y: auto;
  }
  
  .modal-bg-blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: unset;
    -webkit-backdrop-filter: blur(1.5px);
    overflow-y: auto;
    max-width: calc(100vw);
    max-height: calc(100vh);
    z-index: -1;
  }
  
  .post-modal {
    position: absolute;
    top: 200px;
  }
  
  #code-editor::placeholder {
    color: white;
    opacity: 0.5;
  }
  
  .modal-backdrop::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .modal-backdrop {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .caption-box::placeholder {
    color: white;
    opacity: 0.5;
  }
  
  .caption-box:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
  }
  
  .caption-box::-ms-input-placeholder {
    color: white;
    opacity: 0.5;
  }
  
  /* MODAL CSS END*/